@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 357.69 83.87% 51.37%;
    --success: 134 61% 41%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 235 21% 9%;
    --foreground: 0 0% 98%;
    --card: 235 21% 7%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 357.69 83.87% 51.37%;
    --success: 134 61% 41%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 357.69 83.87% 18%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply m-0 border-border;
  }
  body {
    @apply flex min-h-screen min-w-80 flex-col bg-background text-foreground;
  }
  #root {
    @apply flex flex-1 flex-col before:fixed before:-bottom-1 before:-left-1 before:-right-1 before:-top-1 before:-z-10 before:bg-[radial-gradient(#EB1B23C1_1px,transparent_1px)] before:content-[''] before:[background-size:34px_34px] before:[mask-image:radial-gradient(ellipse_60%_50%_at_50%_50%,#000_60%,transparent_100%)];
  }
  ::-webkit-scrollbar {
    @apply h-2.5 w-2.5;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full border-[1px] border-solid border-transparent bg-border bg-clip-padding;
  }
}

@layer utilities {
  .border-glow {
    background-image: radial-gradient(
      200px circle at var(--mouse-x) var(--mouse-y),
      hsl(var(--accent-foreground)),
      transparent 99%
    );
  }

  @media not all and (hover: hover) {
    .border-glow {
      background-image: none;
      background-color: hsl(var(--border));
    }
  }
}

@font-face {
  font-family: "miyoshi";
  src: url("@/assets/fonts/Miyoshi.woff2") format("woff2");
}

@font-face {
  font-family: "atom";
  src: url("@/assets/fonts/Atom.woff2") format("woff2");
}
